<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>160164935065-lo6mppm0lunf7rvgaen787751d10m624.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160164935065-lo6mppm0lunf7rvgaen787751d10m624</string>
	<key>API_KEY</key>
	<string>AIzaSyBHo7kFrD9kxzAlOo53z_tlNbvV6Dzn3I8</string>
	<key>GCM_SENDER_ID</key>
	<string>160164935065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Firebase-PushAnalyticAdvertisement</string>
	<key>PROJECT_ID</key>
	<string>pushanalyticadvertisement</string>
	<key>STORAGE_BUCKET</key>
	<string>pushanalyticadvertisement.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160164935065:ios:d819671ae9c77999d60f08</string>
	<key>DATABASE_URL</key>
	<string>https://pushanalyticadvertisement.firebaseio.com</string>
</dict>
</plist>